$spacer: 1rem;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

code {
    font-weight: 600;
}

mat-card-content.terminal {
    background-color: #1e1e1e;
    color: #f1f1f1;
    max-height: 50vh !important;
    overflow-y: auto;

    >pre {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}

mat-icon.fs-20 {
    height: 20px;
    width: 20px;
}

.bg-green {
    background-color: #149911 !important;
    color: #fff !important;

    a {
        color: #fff !important;
    }
}

.bg-primary {
    background-color: #7e57c2 !important;
    color: #fff !important;

    a {
        color: #fff !important;
    }
}

.bg-red {
    background-color: #9E2B25 !important;
    color: #fff !important;

    a {
        color: #fff !important;
    }
}

.bg-secondary {
    background-color: #ffd740 !important;
    color: #000 !important;

    a {
        color: #000 !important;
    }
}

.bg-warn {
    background-color: #f44336 !important;
    color: #fff !important;

    a {
        color: #fff !important;
    }
}

.bg-white {
    background-color: white !important;
}

.bg-yellow {
    background-color: #F0E100 !important;
    color: #000 !important;

    a {
        color: #000 !important;
    }
}

.code {
    font-family: monospace !important;
}

.col-accent {
    color: #ffd740 !important;
}

.col-primary {
    color: #673ab7 !important;
}

.col-warn {
    color: #f44336 !important;
}

.col-white {
    color: white !important;

    a {
        color: #fff !important;
    }
}

.container {
    width: 100%;
    padding-right: calc($spacer * .5);
    padding-left: calc($spacer * .5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px) {
    .container {
        max-width: calc(960px - 260px - 2rem);
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: calc(1140px - 260px - 2rem);
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: calc(1320px - 260px - 2rem);
    }
}

.drawer-item,
.mat-mdc-list-item-interactive .mdc-list-item__primary-text {
    align-items: center;
    display: flex;
    padding: .4rem 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &.active {
        font-weight: 500;
    }

    &.hover:hover {
        background: rgba(25, 118, 210, .2);
    }

    mat-icon {
        margin-right: .5rem;
    }
}

.fake-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.flex {

    display: flex !important;

    &.col,
    &.column {
        flex-direction: column;
    }

    &.items-start {
        align-items: flex-start;
    }

    &.items-end {
        align-items: flex-end;
    }

    &.items-center {
        align-items: center;
    }

    &.items-stretch {
        align-items: stretch;
    }

    &.items-baseline {
        align-items: baseline;
    }

    &.justify-start {
        justify-content: flex-start;
    }

    &.justify-end {
        justify-content: flex-end;
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-space-between {
        justify-content: space-between;
    }

    &.justify-space-around {
        justify-content: space-around;
    }

    &.nowrap {
        flex-wrap: nowrap;
    }

    &.row {
        flex-direction: row;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    >.fill {
        flex: 1 1 auto;
    }

    >.grow {
        flex-grow: 1;
    }

    >.shrink {
        flex-shrink: 1;
    }

}

.fs-1 {
    font-size: 2.5rem !important;
}

.fs-2 {
    font-size: 2rem !important;
}

.fs-3 {
    font-size: 1.75rem !important;
}

.fs-4 {
    font-size: 1.5rem !important;
}

.fs-5 {
    font-size: 1.25rem !important;
}

.fs-6 {
    font-size: 1rem !important;
}

.fs-7 {
    font-size: .85rem !important;
}

.fs-8 {
    font-size: .7rem !important;
}

.fs-20 {
    font-size: 20px !important;
}

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: $spacer * .25 !important;
}

.m-2 {
    margin: $spacer * .5 !important;
}

.m-3 {
    margin: $spacer !important;
}

.m-4 {
    margin: $spacer * 1.5 !important;
}

.m-5 {
    margin: $spacer * 3 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: $spacer * .25 !important;
}

.mb-2 {
    margin-bottom: $spacer * .5 !important;
}

.mb-3 {
    margin-bottom: $spacer !important;
}

.mb-4 {
    margin-bottom: $spacer * 1.5 !important;
}

.mb-5 {
    margin-bottom: $spacer * 3 !important;
}

.me-0 {
    margin-right: 0 !important;
}

.me-1 {
    margin-right: $spacer * .25 !important;
}

.me-2 {
    margin-right: $spacer * .5 !important;
}

.me-3 {
    margin-right: $spacer !important;
}

.me-4 {
    margin-right: $spacer * 1.5 !important;
}

.me-5 {
    margin-right: $spacer * 3 !important;
}

.ms-0 {
    margin-left: 0 !important;
}

.ms-1 {
    margin-left: $spacer * .25 !important;
}

.ms-2 {
    margin-left: $spacer * .5 !important;
}

.ms-3 {
    margin-left: $spacer !important;
}

.ms-4 {
    margin-left: $spacer * 1.5 !important;
}

.ms-5 {
    margin-left: $spacer * 3 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: $spacer * .25 !important;
}

.mt-2 {
    margin-top: $spacer * .5 !important;
}

.mt-3 {
    margin-top: $spacer !important;
}

.mt-4 {
    margin-top: $spacer * 1.5 !important;
}

.mt-5 {
    margin-top: $spacer * 3 !important;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.mx-1 {
    margin-left: $spacer * .25 !important;
    margin-right: $spacer * .25 !important;
}

.mx-2 {
    margin-left: $spacer * .5 !important;
    margin-right: $spacer * .5 !important;
}

.mx-3 {
    margin-left: $spacer !important;
    margin-right: $spacer !important;
}

.mx-4 {
    margin-left: $spacer * 1.5 !important;
    margin-right: $spacer * 1.5 !important;
}

.mx-5 {
    margin-left: $spacer * 3 !important;
    margin-right: $spacer * 3 !important;
}

.my-0 {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.my-1 {
    margin-bottom: $spacer * .25 !important;
    margin-top: $spacer * .25 !important;
}

.my-2 {
    margin-bottom: $spacer * .5 !important;
    margin-top: $spacer * .5 !important;
}

.my-3 {
    margin-bottom: $spacer !important;
    margin-top: $spacer !important;
}

.my-4 {
    margin-bottom: $spacer * 1.5 !important;
    margin-top: $spacer * 1.5 !important;
}

.my-5 {
    margin-bottom: $spacer * 3 !important;
    margin-top: $spacer * 3 !important;
}

.nowrap {
    white-space: nowrap !important;
}

.overflow-auto {
    overflow: auto !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.overflow-visible {
    overflow: visible !important;
}

.overflow-scroll {
    overflow: scroll !important;
}

.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: $spacer * .25 !important;
}

.p-2 {
    padding: $spacer * .5 !important;
}

.p-3 {
    padding: $spacer !important;
}

.p-4 {
    padding: $spacer * 1.5 !important;
}

.p-5 {
    padding: $spacer * 3 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-1 {
    padding-bottom: $spacer * .25 !important;
}

.pb-2 {
    padding-bottom: $spacer * .5 !important;
}

.pb-3 {
    padding-bottom: $spacer !important;
}

.pb-4 {
    padding-bottom: $spacer * 1.5 !important;
}

.pb-5 {
    padding-bottom: $spacer * 3 !important;
}

.pe-0 {
    padding-right: 0 !important;
}

.pe-1 {
    padding-right: $spacer * .25 !important;
}

.pe-2 {
    padding-right: $spacer * .5 !important;
}

.pe-3 {
    padding-right: $spacer !important;
}

.pe-4 {
    padding-right: $spacer * 1.5 !important;
}

.pe-5 {
    padding-right: $spacer * 3 !important;
}

.progress {
    background-color: #e9ecef;
    display: flex;
    height: 1rem;
    overflow: hidden;

    .progress-bar {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        text-align: center;
        transition: width 0.4s ease-in-out;
        white-space: nowrap;
    }
}

.ps-0 {
    padding-left: 0 !important;
}

.ps-1 {
    padding-left: $spacer * .25 !important;
}

.ps-2 {
    padding-left: $spacer * .5 !important;
}

.ps-3 {
    padding-left: $spacer !important;
}

.ps-4 {
    padding-left: $spacer * 1.5 !important;
}

.ps-5 {
    padding-left: $spacer * 3 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-1 {
    padding-top: $spacer * .25 !important;
}

.pt-2 {
    padding-top: $spacer * .5 !important;
}

.pt-3 {
    padding-top: $spacer !important;
}

.pt-4 {
    padding-top: $spacer * 1.5 !important;
}

.pt-5 {
    padding-top: $spacer * 3 !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.px-1 {
    padding-left: $spacer * .25 !important;
    padding-right: $spacer * .25 !important;
}

.px-2 {
    padding-left: $spacer * .5 !important;
    padding-right: $spacer * .5 !important;
}

.px-3 {
    padding-left: $spacer !important;
    padding-right: $spacer !important;
}

.px-4 {
    padding-left: $spacer * 1.5 !important;
    padding-right: $spacer * 1.5 !important;
}

.px-5 {
    padding-left: $spacer * 3 !important;
    padding-right: $spacer * 3 !important;
}

.py-0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.py-1 {
    padding-bottom: $spacer * .25 !important;
    padding-top: $spacer * .25 !important;
}

.py-2 {
    padding-bottom: $spacer * .5 !important;
    padding-top: $spacer * .5 !important;
}

.py-3 {
    padding-bottom: $spacer !important;
    padding-top: $spacer !important;
}

.py-4 {
    padding-bottom: $spacer * 1.5 !important;
    padding-top: $spacer * 1.5 !important;
}

.py-5 {
    padding-bottom: $spacer * 3 !important;
    padding-top: $spacer * 3 !important;
}

.rounded {
    border-radius: .375rem !important;
}

.row {
    display: flex;
    flex-wrap: wrap;

    >.col {
        flex: 1 0 0%;
    }
}

.spinner-16 {
    display: inline-block !important;
    width: 16px !important;
    height: 16px !important;
}

.ta-center {
    text-align: center;
}

.ta-justify {
    text-align: justify;
}

.ta-left {
    text-align: left;
}

.ta-right {
    text-align: right;
}